:root {
  --primary: #1d4ca5;
}
header {
  background-color: #dddddd8a;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 99;
}
.navbar-brand {
  font-family: cursive;
}
.upperSection {
  margin-top: 120px;
}
.centerForm {
  border: 1px solid #ddd;
  border-radius: 40px 10px 40px 10px;
  margin-top: 120px;
}
/* card */
.heart {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: background-color 700ms;
}
.heart:hover,
.heartClicked {
  background-color: rgb(175, 11, 11);
}
.productCard {
  transition: transform 0.5s;
  border: 1px solid #ddd;
}
.productCard:hover {
  transform: translateY(-15px);
  border: 1px solid var(--primary);
}
.title {
  display: inline-block;
}
.title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: var(--primary);
  bottom: 0px;
  left: 0;
}
#totalPrice {
  display: none;
}
